---
import { getCollection } from "astro:content";
import BaseLayout from "~src/layouts/BaseLayout.astro";
const posts = await getCollection("blog");
---

<BaseLayout title="Blog" description="List of blog posts" favicon="ðŸ“">
    <h1>Blog</h1>
    <p>
        I have things that I've been planning to write about. Let's hope I
        actually will! For now, we'll have to make do with what we've got.
    </p>
    <ul>
        {
            posts.map((post) => (
                <li>
                    <a href={`/blog/${post.id}`}>{post.data.title}</a>
                </li>
            ))
        }
    </ul>
</BaseLayout>
