---
import { getCollection } from "astro:content";
import BaseLayout from "~src/layouts/BaseLayout.astro";
import { getDateString } from "~src/utils";
const posts = await getCollection("blog");
---

<BaseLayout title="Blog" description="List of blog posts" favicon="ðŸ“">
    <h1>Blog</h1>
    <p>
        I have things that I've been planning to write about. Let's hope I
        actually will! For now, we'll have to make do with what we've got.
    </p>
    <ul>
        {
            posts
                .sort(
                    (a, b) =>
                        b.data.published.getTime() - a.data.published.getTime()
                )
                .map((post) => (
                    <li>
                        <a href={`/blog/${post.id}`}>
                            <h2>{post.data.title}</h2>
                            <p class="published">
                                <time
                                    datetime={getDateString(
                                        post.data.published
                                    )}
                                >
                                    {getDateString(post.data.published)}
                                </time>
                            </p>
                            <p>{post.data.description}</p>
                        </a>
                    </li>
                ))
        }
    </ul>
</BaseLayout>

<style>
    ul {
        padding-inline-start: 0;
    }
    li {
        list-style: none;
        margin-bottom: var(-);
    }
    li + li {
        margin-top: 2rem;
    }

    h2 {
        line-height: 1.2;
    }
    a {
        text-decoration: none;
    }
    a > h2 {
        text-decoration: underline;
    }
</style>
