---
import {getCollection, render} from "astro:content";
import Layout from "~src/layouts/Layout.astro";

export async function getStaticPaths() {
    const projects = await getCollection("projects");
    return projects.map((project) => ({
        params: {slug: project.id},
        props: {project: project},
    }));
}

const {project} = Astro.props;
const {Content} = await render(project);
---

<Layout>
    <article>
        <h1>{project.data.title}</h1>
        <Content />
    </article>
</Layout>
