/* ------------------------------------------------------------------------ */
/* CSS reset adapted from https://www.joshwcomeau.com/css/custom-css-reset/ */
/* ------------------------------------------------------------------------ */

*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
}

html {
    height: 100%;
}

body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
    height: auto;
}

input,
button,
textarea,
select {
    font: inherit;
}

ul {
    padding-inline-start: 1.25em;
}

@media (prefers-reduced-motion: reduce) {
    * {
        animation-duration: 0.01ms !important;
        animation-iteration-count: 1 !important;
        transition-duration: 0.01ms !important;
        scroll-behavior: auto !important;
    }
}

/* -------------------- */
/* Typographical styles */
/* -------------------- */

@font-face {
    font-family: 'atkinson';
    src: url('/atkinson-hyperlegible.woff2') format('woff2');
    font-weight: 200 800;
    font-style: normal, italic;
    font-display: swap;
    font-variation-settings: "wght" 200 800, "ital" 1;
}


body {
    font-family: 'atkinson';
    font-style: normal;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
}

p,
li,
table,
summary {
    font-size: 1.25rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 700;
    word-break: break-word;
}

h1 {
    font-size: 4rem;
    line-height: 0.8;
}

article {
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: var(--paragraph-gap);
}

article h2 {
    margin-block-start: 0.5em;
}

img {
    border: var(--line-width) solid var(--text-color);
}

figcaption {
    margin-block-start: 0.5em;
    font-style: italic;
    text-align: center;
    text-wrap-style: balance;
}

code {
    font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
    font-size: 0.85em;
    background-color: var(--code-background-color);
    padding-inline: 0.25em;
    padding-block-start: 0.3em;
    padding-block-end: 0.1em;
}

pre.astro-code {
    background-color: var(--code-background-color) !important;
    font-size: 1.25rem;
    line-height: 1.2;

    padding-inline: 0.5em;
    padding-block: 0.25em;
    padding-block-end: 0.4em;
}

pre.astro-code code {
    padding-inline: unset;
    padding-block: unset;
}

hr {
    border: none;
    height: var(--line-width);
    background-color: var(--text-color);
}

/* -------------- */
/* General layout */
/* -------------- */

body {
    min-height: 100%;
    padding-block: var(--body-padding);
    display: grid;
    grid-template-columns:
        minmax(var(--body-padding), 1fr) minmax(0, 70ch) minmax(var(--body-padding), 1fr);
    grid-template-rows: auto auto 1fr auto auto;
    gap: var(--body-gap);
}

body>* {
    grid-column: 2;
}


/* ------------- */
/* Common styles */
/* ------------- */

:root {
    --background-color: #f2f3ef;
    --code-background-color: #dedad9;
    --text-color: #181c23;

    --body-padding: 3rem;
    --body-gap: 3rem;
    --line-width: 2px;
    --paragraph-gap: 1.5em;
}

@media (width <=900px) {
    :root {
        --body-padding: 2rem;
        --body-gap: 2rem;
    }
}


@media (width <=600px) {
    :root {
        --body-padding: 1rem;
        --body-gap: 1rem;
    }

    h1 {
        font-size: 3rem;
    }
}

@media (width <=400px) {
    :root {
        --body-padding: 0.5rem;
        --body-gap: 0.5rem;
    }
}


html {
    background: var(--background-color);
    color: var(--text-color);
    scrollbar-gutter: stable;
}

main h1 {
    margin-block-end: 1rem;
}

main>p {
    margin-block-end: 1rem;
}

main>p:last-of-type {
    margin-block-end: 3rem;
}

summary:hover {
    cursor: pointer;
}

details {
    border-inline-start: var(--line-width) solid var(--text-color);
    padding-inline-start: var(--paragraph-gap);
}

details>*+* {
    margin-block-start: var(--paragraph-gap)
}

/* ------------ */
/* Table styles */
/* ------------ */

table {
    border-collapse: collapse
}

th {
    text-align: left;
    border-bottom: var(--line-width) solid var(--text-color);
}

th,
td {
    padding-block: 0.25em;
}