---
import "~src/globals.css";
import { ClientRouter } from "astro:transitions";
---

<!doctype html>
<html lang="en" transition:name="root" transition:animate="none">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <meta name="generator" content={Astro.generator} />
        <title>jonesus.dev</title>
        <ClientRouter />
    </head>
    <body>
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/projects">Projects</a></li>
                <li><a href="/blog">Blog</a></li>
            </ul>
        </nav>

        <hr />

        <main>
            <slot />
        </main>
    </body>
</html>

<style>
    ul {
        padding-inline-start: 0;
        display: flex;
        gap: 2em;
    }

    li {
        list-style: none;
        padding-inline-start: unset;
    }
</style>
